*{
	padding: 0;
	margin: 0;
	border: 0;
}

        /* Стили для всей страницы */
        body {
            font-family: "Roboto Flex", sans-serif;
            margin: 0;
            background-color: #333;
            color: #fff;
        }
        /* Основная структура */
        header, section {
            padding: 20px;
            text-align: center;
        }

        header {
            background-color: #111;
        }
        h1, h2 {
            color: #ffcc00;
        }
        .gallery img {
            width: 100%;
            max-width: 300px;
            height: auto;
            margin: auto;
            border-radius: 1px;
        }
        /* Раздел с биографией */
        .biography {
            background-color: #444;
            padding: 20px;
            margin: 20px 0;
            border-radius: 10px;
        }
        /* Галерея */
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* изображение по центру */
        }
        /* Стиль для видео */
        .video iframe {
            width: 100%;
            max-width: 560px;
            height: 315px;
            border: none;
            border-radius: 10px;
        }
        /* Ссылка на соцсети */
        .social-links a {
            margin: 0 10px;
            color: #ffcc00;
            text-decoration: none;
        }
        .social-links a:hover {
            text-decoration: underline;
        }

